.header{
    background-color: #fff;
    padding: 10px;
}

#logo{
    vertical-align: bottom;
}

h1{
    font-size: 50px;
    display: inline-block;
    text-align: center;
}

#titolo{
    background-color: #fff;
}

.container-main{
    width: 80%;
    margin: 0 auto;
}

.container{
    background-color: #fff;
}

.container-button{
    margin-top: 60px;
    padding: 12px;
    background-color: #fff;
}

.button-1{
    margin-left: 5%;
    padding: 5px;
    border: 1px solid #47adf1;
    border-radius: 5px;
    color: white;
    background-color: #47adf1;
}

.button-2{
    padding: 5px;
    border: 1px solid #d5d9dd;
    border-radius: 5px;
    color: #d2d7db;
    background-color: #fff;
}

.container-3{
    margin-top: 1px;
    margin-bottom: 30px;
    padding: 10px;
    padding-bottom: 60px;
    background-color: #fff;
}

main section span{
    background-color: #fff;
    font-size: 20px;
}

main section div{
    background-color: #fff;
}

h3{
    background-color: #fff;
    display: inline-block;
    font-size: 30px;
}

.container-task{
    margin-top: 20px;
    margin-left: 5%;
    margin-bottom: 30px;
}

.container-task-2{
    margin-top: 15px;
}

.checkmark{
    font-size: 10px;
    border: 1px solid #73c7b3;
    border-radius: 50%;
    padding: 1px 3px;
    color: #73c7b3;
    margin-right: 5px;
}

.checkmark-no{
    font-size: 10px;
    border: 1px solid #e73b33;
    border-radius: 50%;
    padding: 1px 3px;
    color: #e73b33;
    margin-right: 5px;
}

.span-editorial{
    padding: 6px 10px;
    border-radius: 8px;
    font-size: 10px;
    border: 1p solid #47adf1;
    color: #fff;
    background-color: #47adf1;
}

.span-goals{
    padding: 6px 10px;
    border-radius: 8px;
    font-size: 10px;
    border: 1p solid #9c72e4;
    color: #fff;
    background-color: #9c72e4;
}

.span-recruiting{
    padding: 6px 10px;
    border-radius: 8px;
    font-size: 10px;
    border: 1p solid #64c0a9;
    color: #fff;
    background-color: #64c0a9;
}

.span-mobile{
    padding: 6px 10px;
    border-radius: 8px;
    font-size: 10px;
    border: 1p solid #f29e33;
    color: #fff;
    background-color: #f29e33;
}

.span-website{
    padding: 6px 10px;
    border-radius: 8px;
    font-size: 10px;
    border: 1p solid #d863a1;
    color: #fff;
    background-color: #d863a1;
}

.span-sales{
    padding: 6px 10px;
    border-radius: 9px;
    font-size: 10px;
    border: 1p solid #b0c926;
    color: #fff;
    background-color: #b0c926;
}